.container {
    max-width: 100%!important;
    margin: 0 120px!important;
}
.boxed {
    max-width: 100%!important;
}
.box-text-home p{
	width: 300px;
	display: inline-block;
	float: right;
	font-size: 18px;
	line-height: 26px;
}
.margin-btn-home .wpb_wrapper{
	margin: 0 0 0 -90px;
}
.margin-btn-home .vc_btn3.vc_btn3-color-black, .vc_btn3.vc_btn3-color-black.vc_btn3-style-flat{
	background-color: #1e1e1e!important;
}
.margin-btn-home .vc_btn3.vc_btn3-color-black:hover {
    background-color: #757575!important;
}
.vc_general.vc_btn3{
	max-width: 300px;
	font-size: 17px!important;
	font-family: "Arson Pro Bold"!important;
}


.header-preset-01 .navigation ul  li{
	background: url(http://localhost/projetos/attra_br/wp-content/uploads/2018/03/barra-menu.jpg) no-repeat;
    background-position: center right;
    padding-right: 10px;
    padding-left: 10px;
		font-size: 13px;
}
.header-preset-01 .navigation ul li:last-child{
	background:none;
}
.navigation > div > ul > li > a{
	letter-spacing: 0!important;
	font-size: 16px!important;
}

.site-branding img {
	image-rendering: -webkit-optimize-contrast;
}
.navigation > div > ul > li.current-menu-item > a:before{
	visibility: hidden;
}
.header-preset-01 .navigation > div > ul > li > a:before{
	display:none!important;
}
.header-preset-01 .navigation > div > ul > li > a:hover{
	font-weight: 600!important;
	transition: all 0.2s;
}
.navigation > div > ul > li.current-menu-item > a:after, .navigation > div > ul > li:hover > a:after{
	display:none;
}
.tp-mask-wrap .tp-caption{
	font-family: 'Arson Pro bold'!important;
}
.scrollup.show {
	background-image: url(http://localhost/projetos/attra_br/wp-content/uploads/2018/04/top.jpg);
    background-size: cover;
    background-color: transparent;
}
.scrollup i {
    display: none;
}

strong{
	font-family:"Arson Pro Bold";
}

/*Navigation Slider*/

.persephone .tp-bullet:hover, .persephone .tp-bullet.selected{
	background: transparent;
    border: 4px solid #333;
}
.persephone .tp-bullet{
	background: rgba(0, 0, 0,0.2);
    border: 4px solid transparent;
}
.slider-home-mobile{
	display: none;
}

/*Conteudo Home*/

.titulo h2{
	margin-top: 90px;
    margin-bottom: 20px!important;
    background: url(http://localhost/projetos/attra_br/wp-content/uploads/2018/04/zigzag.png);
    background-repeat: no-repeat;
    background-position: center bottom;
	padding-bottom: 25px;
}
.titulo2 h2{
	margin-top: 90px;
  margin-bottom: 20px!important;
	padding-bottom: 25px;
}
.titulo3 h2{
	margin-top: 90px;
}
.titulo p{
	line-height: 22px;
	font-size: 18px!important;
	font-family: "Arson Pro Light"!important;
}
.conteudo-1{
	margin-top: 30px!important;
}
.conteudo-1 p{
	text-align: right;
}
.conteudo-1 h2{
	margin-top: 80px;
}
.conteudo-1 .coluna-3{
	height: 654px;
    display: flex;
    align-items: flex-end;
}
.materia-prima{
	width: 360px;
  display: inline-block;
  float: left;
  font-size: 18px;
  line-height: 26px;
  margin: 10px 0 0 0;
}
.job{
	width: 330px;
  display: inline-block;
  float: right;
  font-size: 18px;
  line-height: 26px;
  margin: 10px 0 0 0;
}
.conteudo-1 .coluna-3 a{
	color: #fff;
    background-color: #2A2A2A;
    width: 70%;
    text-align: right;
    margin-bottom: 5px;
}
.conteudo-2{
	margin-top: 40px!important;
}
.conteudo-2 .carousel-slider .owl-nav.disabled{
	display: block;
}
.conteudo-2 .owl-next{
	margin-right: 60px!important;
    height: 58px!important;
    width: 38px!important;
		background: rgba(0,0,0,0.7)!important;
border-radius: 3px;
}
.conteudo-2 .owl-prev{
	margin-left: 60px!important;
	height: 58px!important;
    width: 38px!important;
		background: rgba(0,0,0,0.7)!important;
border-radius: 3px;
}
.conteudo-2 #id-128 .carousel-slider-nav-icon{
	height: 58px!important;
	width: 28px!important;
 }
.conteudo-3{
	height: 600px;
    background: url(http://localhost/projetos/attra_br/wp-content/uploads/2018/04/bg-2-home.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
	margin-top:10px!important;
}
.conteudo-3 h2 {
    margin-top: 130px;
    font-size: 30px;
    font-family: "Arson Pro Regular"!important;
}
.conteudo-3 p {
	color: #fff;
	    background: #181818;
	    width: 480px;
	    padding: 40px;
	    font-size: 18px;
	    line-height: 24px;
	    margin: 10px 0 0 0;
}
.conteudo-3 .wpb_content_element.raw{
	overflow: visible !important;
}
.conteudo-3 .raw .ornamento{
	width: 540px;
  margin: -70px 0 0 0;
}
.conteudo-3 .raw .ornamento::after{
	content: "";
	background-image: url(http://localhost/projetos/attra_br/wp-content/uploads/2018/04/ornamento-1.png);
	width: 133px;
	height: 133px;
	display:block;
	float: right;
}
.exclusividade {
	padding: 0 0 0 160px!important;
}
.conteudo-4 h2{
	margin-top: 160px;
	font-size: 30px;
	line-height: 30px;
}
.conteudo-4 img{
	width: 80%;
    padding-left: 70px;
}
.conteudo-5{
	min-height: 600px;
    background: url(http://localhost/projetos/attra_br/wp-content/uploads/2018/04/bg-paineis.jpg);
  background-size: inherit;
	margin-top: 40px!important;
  background-repeat: repeat;
}
.conteudo-5 p{
	text-align:right;
}
.conteudo-5 h2{
	margin-top: 120px;
}
.conteudo-5 img{
	margin-top: 90px;
}
.conteudo-6 h2{
  margin-top: 50px;
  margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
}
/*Slider de Posts*/
.conteudo-6 .carousel-slider .owl-nav{
	display: block!important;
}
.conteudo-6 #id-169 .owl-prev{
    width: 38px;
    height: 38px;
}
.conteudo-6 #id-169 .carousel-slider-nav-icon{
	height: 38px!important;
    width: 38px!important;
}
.conteudo-6 .carousel-slider.owl-loaded {
    padding: 0 60px;
}
.conteudo-6 .carousel-slider__post-title h1{
  font-size: 16px;
  line-height: 22px;
  max-height: 60px;
}
.conteudo-6 .carousel-slider__post-excerpt{
	display: none!important;
}
.conteudo-6 .carousel-slider__post-author-link{
	display: none!important;
}
.conteudo-6 #id-169 .carousel-slider__post {
	height: 300px;
	border: 0px;
}
.conteudo-6 .carousel-slider__post-category{
	display: none;
}
.conteudo-6  .carousel-slider__post-image{
	border-radius: 6px;
	background-size: cover;
    background-position: center bottom;
}
.conteudo-6 .carousel-slider__post-publication-meta{
	background-color: transparent;
}
.carousel-slider__post-title {
    display: block;
    margin: 10px 0 0;
}
.carousel-slider__post-meta{
  font-size: 14px!important;
}
.formulario .container {
      margin: 0 180px 0 0!important;
}
#wonderplugincarousel-1 .amazingcarousel-title {
    position: relative!important;
    font: 16px "Arson Pro Regular"!important;
    line-height: 22px!important;
    min-height: 60px!important;
    color: #333333!important;
    margin: 6px!important;
    text-align: left!important;
    text-shadow: none!important;
}
#wonderplugincarousel-1 .amazingcarousel-item-container{
  text-align: left!important;
  padding: initial!important;
  background-color: #fff!important;
  border: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
#wonderplugincarousel-1 .amazingcarousel-image{
  padding: 0!important;
}
.amazingcarousel-image div.amazingcarousel-hover-effect{
  display: none!important;
}
.amazingcarousel-image div:nth-child(4n+4){
  background-color: transparent!important;
  opacity: 0!important;
}
.amazingcarousel-image div:nth-child(4n+4) a{
  background-color: transparent!important;
  color: transparent!important;
  pointer-events: none!important;
  cursor: default!important;
  opacity: 0!important;
}


#wonderplugincarousel-2 .amazingcarousel-title {
    position: relative!important;
    font: 16px "Arson Pro Regular"!important;
    line-height: 22px!important;
    min-height: 60px!important;
    color: #333333!important;
    margin: 6px!important;
    text-align: left!important;
    text-shadow: none!important;
}
#wonderplugincarousel-2 .amazingcarousel-item-container{
  text-align: left!important;
  padding: initial!important;
  background-color: #fff!important;
  border: none!important;
  -moz-box-shadow: none!important;
  -webkit-box-shadow: none!important;
  box-shadow: none!important;
}
#wonderplugincarousel-2 .amazingcarousel-image{
  padding: 0!important;
}


.amazingcarousel-image2 div.amazingcarousel-hover-effect{
  display: none!important;
}
.amazingcarousel-image2 div:nth-child(3n+3){
  background-color: transparent!important;
  opacity: 0!important;
}
.amazingcarousel-image2 div:nth-child(3n+3) a{
  background-color: transparent!important;
  color: transparent!important;
  pointer-events: none!important;
  cursor: default!important;
  opacity: 0!important;
}

span .amazingcarousel-image div:nth-child(2n+2){
  background-color: transparent!important;
  opacity: 0!important;
}
span .amazingcarousel-image div:nth-child(2n+2) a{
  background-color: transparent!important;
  color: transparent!important;
  pointer-events: none!important;
  cursor: default!important;
  opacity: 0!important;
}

/* Fim de Slider de Posts*/

/*Slider de Vídeos*/

.conteudo-7 h2{
	margin-top: 50px;
	margin-bottom: 30px;
  font-size: 30px;
  line-height: 30px;
}
.conteudo-7 .carousel-slider .owl-nav{
	display: block!important;
}
.conteudo-7 #id-175 .owl-prev{
    width: 38px;
    height: 38px;
}
.conteudo-7 #id-175 .carousel-slider-nav-icon{
	height: 38px!important;
    width: 38px!important;
}
.conteudo-7 #id-175.arrows-outside .owl-prev {
    left: 0px;
}
.conteudo-7 #id-175.arrows-outside .owl-next {
    right: 0;
}
.conteudo-7 .carousel-slider .carousel-slider__caption .title {
    text-align: left;
    font-size: 16px;
    line-height: 22px;
    max-height: 60px;
    padding: 10px 15px;
}
.conteudo-7 .carousel-slider.owl-loaded {
    padding: 0 60px;
}
.carousel-slider .carousel-slider__item img{
    border-radius: 6px;
}
.conteudo-8{
	background: url(http://localhost/projetos/attra_br/wp-content/uploads/2018/04/background-contato.jpg);
    padding-top: 90px;
    margin-top: 60px!important;
    padding-bottom: 80px;
}
.conteudo-8 h2{
	margin-left: 42px;
    margin-bottom: 60px;
    text-transform: uppercase;
}
.conteudo-8 h3{
	margin-left: 15px;
}
.conteudo-8 .row p{
	margin-bottom: 20px!important;
    font-size: 15px;
    font-style: oblique;
}
.conteudo-8 .row img{
	width: 30%;
    opacity: 0.7;
    margin-left: 50px;
}
.conteudo-8 .wpcf7 input[type="text"] {
    margin-bottom: 0;
	color: #131313;
      padding: 15px 30px;
}
.conteudo-8 .wpcf7 input[type="text"]::placeholder {
	color: #131313!important;
}
.conteudo-8 .wpcf7 input[type="email"] {
    margin-bottom: 0;
	color: #131313;
	margin-top: -15px;
      padding: 15px 30px;
}
.conteudo-8 .wpcf7 input[type="email"]::placeholder {
	color: #131313!important;
}
.conteudo-8 .wpcf7-textarea {
    height: 100px;
	color: #131313;
	margin-top: -15px;
      padding: 15px 30px;
}
.conteudo-8 .wpcf7-textarea::placeholder {
	 color: #131313!important;
}
.conteudo-8 .wpcf7 input[type="submit"]{
  width: 100%;
  background: transparent;
  color: #353334;
  border: 3px solid #353334;
  text-transform: initial;
  font-family: "Arson Pro Bold"!important;
  font-weight: 600!important;
  letter-spacing: 0!important;
  font-size: 16px;
  line-height: 16px;
  padding: 15px 0;
}
.conteudo-8 .wpcf7 input[type="submit"]:hover{
  color: #fff!important;
  background-color: #333!important;
}

.time h3, .adress h3, .phone h3{
  font-size: 16px;
  line-height: 16px;
padding: 7px 30px 14px 30px;
  font-family: "Arson Pro Light"!important;
}
.time h3 a, .adress h3 a, .phone h3 a{
  font-family: "Arson Pro Regular"!important;
}

.time h3::before{
  content: "\f017";
  font-family: "fontawesome";
  padding: 0 15px 0 0;
      font-size: 20px;
}
.adress h3::before{
  content: "\f041";
  font-family: "fontawesome";
  padding: 0 15px 0 0;
      font-size: 20px;
}
.phone h3::before{
  content: "\f095";
  font-family: "fontawesome";
    padding: 0 15px 0 0;
        font-size: 20px;
}

#wonderplugincarousel-1 .amazingcarousel-prev {
    margin-top: -46px!important;
}
#wonderplugincarousel-1 .amazingcarousel-next {
    margin-top: -46px!important;
}
#wonderplugincarousel-2 .amazingcarousel-prev {
    margin-top: -46px!important;
}
#wonderplugincarousel-2 .amazingcarousel-next {
    margin-top: -46px!important;
}

/*Página Painéis*/

.content {
    padding: 0!important;
}
.linhas img:hover{
	opacity: 0.6;
    transition-duration: 1s;
    cursor: pointer;
}
.linhas .mobile{
	display:none;
}
.linhas h3{
	margin-top: 30px;
    margin-bottom: 30px;
}
.outros-paineis{
	background: #f8f8f8;
    margin-top: 70px!important;
    padding-top: 80px;
    padding-bottom: 70px;
}
.outros-paineis p{
	text-align: right;
    margin-top: 30px;
}
.outros-paineis .mobile{
	display:none;
}
.outros-paineis .titulo h2 {
    background-position: right bottom;
}
.outros-paineis .botoes {
	margin-top: 120px;
}
.outros-paineis a {
	width: 70%;
    text-align: right!important;
    margin-bottom: 5px!important;
}


/*Página Linhas*/


.single-project .has-bg {
	display:none;
}
.single-project .entry-title {
    display: none;
}
.breadcrumb-projects{
	background: url(http://localhost/projetos/attra_br/wp-content/uploads/2018/04/background-breadcrumb.jpg);
    padding: 40px 0px;
}
.breadcrumb-projects h4{
    font-size: 13px;
}
.breadcrumb-projects h3{
    font-size: 26px!important;
}
.img-projects-desktop{
	margin-top: 50px!important;
}

.img-projects-mobile{
	display:none;
}

.title-project{
	margin-top: 30px;
}

.projects-grid{
	margin-top: 60px!important;
}
.projects-grid .vc_grid.vc_row .vc_grid-item{
	float: left!important;
}


.projects-grid h2{
	text-align: left;
    font-size: 19px;
    font-weight: bold!important;
}
.projects-grid p{
	line-height: 1.2;
}
.projects-grid a{
	background: transparent!important;
    border: 0px!important;
    color: #131313!important;
}
.projects-grid i{
	border-radius: 13px!important;
    left: 0px!important;
    border: 1.3px solid #333!important;
    width: 24px!important;
    height: 24px!important;
    padding-top: 4px!important;
    padding-left: 4px!important;
    font-weight: bold!important;
}
.projects-grid .vc_gitem-zone-a .vc_gitem-row-position-middle{
    margin-top: -32px;
}
.projects-grid .vc_btn3-container{
    margin-top: -40px!important;
}
.outros-paineis .produtos-relacionados{
    padding: 0px 70px;
}
.outros-paineis .botoes .menores{
	width: 90%;
}

/*Página Interna Produtos*/

.conteudo-produto{
	margin-top: 50px!important;
}
.conteudo-produto h2{
    font-size: 20px;
    font-weight: bold!important;
}
.conteudo-produto p{
    line-height: 1.2;
    margin-top: 10px;
}
.conteudo-produto h3{
	background: #131313;
    color: #fff;
    width: 70%;
    padding: 15px 70px;
    font-size: 13px;
    margin-top: 20px;
    margin-bottom: 0px;
}
.conteudo-produto p.especificacoes{
    background: #fafafa;
    width: 70%;
    padding-top: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    font-size: 12px;
    line-height: 1.7;
	margin-top: 0px;
}
.conteudo-produto .compartilhe{
	margin-top: 20px;
}

.grid-projects-2 .vc_grid.vc_row .vc_grid-item{
	float: left!important;
}

.grid-projects-2 h2{
	text-align: left!important;
    font-size: 19px;
    font-weight: bold!important;
}
.grid-projects-2 p{
	line-height: 1.2;
	text-align: left!important;
}
.grid-projects-2 a{
	background: transparent!important;
    border: 0px!important;
    color: #131313!important;
	width: 100%;
}
.grid-projects-2 i{
	border-radius: 13px!important;
    left: 0px!important;
    border: 1.3px solid #333!important;
    width: 24px!important;
    height: 24px!important;
    padding-top: 4px!important;
    padding-left: 4px!important;
    font-weight: bold!important;
	padding-right: 2px;
}
.grid-projects-2 .vc_gitem-zone-a .vc_gitem-row-position-middle{
    margin-top: -12px;
}

.outros-paineis-grid{
	background: #f8f8f8;
    margin-top: 70px!important;
    padding-top: 30px;
    padding-bottom: 70px;
}
.outros-paineis-grid p{
	text-align: right;
    margin-top: 30px;
}
.outros-paineis-grid .titulo h2 {
    background-position: right bottom;
}

/*Página do Post*/

.single-post .blog-1 {
    padding: 0 160px!important;
	margin-bottom: 40px;
}
.single-post .blog-1 .post-thumb {
    margin: auto;
    display: table;
}
.single-post article.post .entry-header .entry-title {
    font-size: 28px;
    margin-top: 30px;
}
.single-post .has-bg h1 {
    display:none;
}
.single-post .has-bg {
    padding: 30px 0px;
	background:url(http://localhost/projetos/attra_br/wp-content/uploads/2018/04/background-breadcrumb.jpg)!important;
}
.single-post .has-bg .breadcrumb {
    background-color: transparent;
}
.single-post .breadcrumb .sub:before {
	display:none;
}
.single-post .breadcrumb ul:before {
    display:none;
}
.single-post .breadcrumb li.level-1 {
    display:none;
}
.single-post .breadcrumb li.level-2 {
    display:none;
}
.single-post .breadcrumb li.level-3 {
    color: #1b273d;
    font-size: 26px;
}
.single-post .dates {
    position: absolute;
    background-color: #131313;
    top: 30px;
    left: 30px;
}
footer .about{
  padding: 0 60px 0 15px;
}
footer .about p{
  margin: 0 0 20px 0;
    font-size: 16px;
    line-height: 18px;
}

footer .adress{
margin: 0 80px 20px 0;
}
footer .adress h4{
  color: #fff!important;
}
footer .email h4 a{
  color: #fff!important;
}
footer .adress h4::before{
  content: "\f041";
      font-family: "fontawesome";
      padding: 0 20px 0 0;
      font-size: 22px;
}
footer .email h4 a::before{
  content: "\f2b6";
  font-family: "fontawesome";
  padding: 0 20px 0 0;
  font-size: 22px;
}

.links a{
  font-size: 18px!important;
  line-height: 18px!important;
  padding: 0 0 10px 0!important;
  display: inline-block;
}


/*Footer*/
.bottom-wrapper{
	background: url(http://localhost/projetos/attra_br/wp-content/uploads/2018/04/bg-footer.jpg);
    background-size: cover;
    background-position: center bottom;
}
.footer {
    background-color: transparent!important;
	color:#fff;
}
.footer img{
    width: 70%;
}
.footer a {
    color: #fff;
}
.footer .widget-title {
    color: #ffffff;
    font-weight: 900!important;
}
.footer .widget-title:after{
	display:none;
}
.copyright{
	background-color: transparent!important;
    color: #ffffff;
    background-image: url(http://localhost/projetos/attra_br/wp-content/uploads/2018/03/bg-copy-transparent.png);
    background-size: 6%;
}
.copyright .logo-copy{
	text-align:left;
}
.copyright .redes-copy{
	text-align:right;
}
.copyright img.icons{
	width: 4%;
    margin-right: 6px;
}
#wonderplugincarousel-3 .amazingcarousel-list-container {
    padding: 0!important;
}
#wonderplugincarousel-3 .amazingcarousel-next {
    right: 40px!important;
}
#wonderplugincarousel-3 .amazingcarousel-prev {
    left: 40px!important;
}
