/* =============================== 320px ==================================== */

@media screen and (min-width: 320px) and (max-width: 599px) { 
		.slider-home-mobile {
			display: block;
		}
		.slider-home-desktop{
			display: none;
		}
		.titulo h2{
			margin-top: 30px;
			margin-bottom: 20px!important;
			background: none;
			padding-bottom: 0px;
		}
		.titulo p{
			display:none;
		}
		.conteudo-1 h2 {
			margin-top: 0px;
			text-align: left!important;
		}
		.conteudo-1 p {
			text-align: left;
		}
		.conteudo-1 .coluna-1{
			width: 50%;
		}
		.conteudo-1 .coluna-1 p {
			text-align: left;
			font-size: 13px;
			line-height: 1.2;
			flex-wrap: wrap;
		}
		.conteudo-1 .coluna-2{
			width: 50%;
		}
		.conteudo-1 .coluna-3 {
			height: auto;
			width: 100%;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.conteudo-1 .coluna-3 a {
			width: 100%;
			text-align: center;
			margin-bottom: 0;
		}
		.conteudo-1 .coluna-3 .vc_btn3-container {
			margin-bottom: 6px!important;
		}
		.conteudo-3 p {
			width: 80%;
			padding: 40px 35px;
			margin-left: 40px;
			font-size: 14px;
			line-height: 1.5;
		}
		.conteudo-3 h2 {
			margin-top: 60px;
			margin-bottom: 130px;
			margin-left: 50px;
			font-size: 22px;
		}
		.conteudo-4 h2 {
			margin-top: 30px;
		}
		.conteudo-4 img{
			width: 100%;
			padding-left: 0px;
		}
		.conteudo-4 p{
			font-size: 13px;
			line-height: 1.6;
		}
		.conteudo-5 h2 {
			margin-top: 30px;
			text-align: center!important;
		}
		.conteudo-5 p {
			text-align: center;
			font-size: 13px;
			line-height: 1.6;
			margin-top: 20px;
		}
		.conteudo-5 img {
			margin-top: 30px;
			margin-bottom: 40px;
		}
		.conteudo-6 h2 {
			margin-top: 20px;
		}
		.conteudo-6 .carousel-slider__post-image {
			border-radius: 0px;
		}
		.conteudo-6 #id-169 .carousel-slider__post {
			height: 260px!important;
		}
		.conteudo-6 .carousel-slider__post-title h1 {
			font-size: 12px;
		}
		
		.conteudo-8 {
			padding-top: 50px;
		}
		.conteudo-8 h2 {
			margin-left: 0;
			text-align: center!important;
			margin-bottom: 40px;
		}
		.conteudo-8 .row img {
			width: 80%;
			margin-left: 10px;
		}
		.conteudo-8 .row p {
			font-size: 13px;
		}
		.conteudo-8 h3 {
			margin-top: 30px;
		}
		
		/*Página Painéis*/
		
		.page-id-194 .breadcrumb .container {
			background-size: 60%;
		}
		.linhas h3 {
			margin-top: 10px;
		}
		.linhas .mobile {
			display: block;
			margin-bottom: 10px!important;
		}
		.linhas .desktop {
			display: none!important;
		}
		.outros-paineis .titulo h2 {
			text-align: center!important;
		}
		.outros-paineis {
			margin-top: 30px!important;
			padding-top: 30px;
		}
		.outros-paineis p {
			text-align: center;
			margin-top: 20px;
			font-size: 12px;
			margin-bottom: 20px!important;
		}
		.outros-paineis .mobile {
			display: block;
		}
		.outros-paineis .desktop {
			display: none!important;
		}
		.outros-paineis a {
			margin-bottom: -13px!important;
			width: 100%;
			text-align: center!important;
		}
		.outros-paineis .botoes {
			margin-top: 30px;
		}
	  
	  
	  
	  
	  /*Footer*/
		.copyright img.icons {
			width: 15%;
		}
		.footer img {
			width: 100%;
		}
		#sb_instagram.sbi_col_4 #sbi_images .sbi_item{
			width: 24%;
		}
		#sb_instagram .sbi_photo img {
			height: initial!important;
		}
}


/* =============================== 600px ==================================== */

@media screen and (min-width: 600px) and (max-width: 767px) { 
		.slider-home-mobile {
			display: block;
		}
		.slider-home-desktop{
			display: none;
		}
		.titulo h2{
			margin-top: 30px;
			margin-bottom: 20px!important;
			background: none;
			padding-bottom: 0px;
		}
		.titulo p{
			display:none;
		}
		.conteudo-1 h2 {
			margin-top: 4px;
			text-align: left!important;
		}
		.conteudo-1 p {
			text-align: left;
		}
		.conteudo-1 .coluna-1{
			width: 50%;
		}
		.conteudo-1 .coluna-1 p {
			text-align: left;
			font-size: 14px;
			flex-wrap: wrap;
			line-height: 2;
		}
		.conteudo-1 .coluna-2{
			width: 50%;
		}
		.conteudo-1 .coluna-3 {
			height: auto;
			width: 100%;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.conteudo-1 .coluna-3 a {
			width: 100%;
			text-align: center;
			margin-bottom: 0;
		}
		.conteudo-1 .coluna-3 .vc_btn3-container {
			margin-bottom: 6px!important;
		}
		.conteudo-3 p {
			width: 60%;
			padding: 40px 35px;
			margin-left: 40px;
			font-size: 14px;
			line-height: 1.5;
		}
		.conteudo-3 h2 {
			margin-top: 60px;
			margin-bottom: 130px;
			margin-left: 50px;
			font-size: 22px;
			font-weight: 900!important;
		}
		.conteudo-4 h2 {
			margin-top: 30px;
			text-align:center!important;
		}
		.conteudo-4 img{
			width: 100%;
			padding-left: 0px;
		}
		.conteudo-4 p{
			font-size: 13px;
			line-height: 1.6;
			text-align: center;
			margin-top: 10px;
		}
		.conteudo-5 h2 {
			margin-top: 30px;
			text-align: center!important;
		}
		.conteudo-5 p {
			text-align: center;
			font-size: 13px;
			line-height: 1.6;
			margin-top: 20px;
		}
		.conteudo-5 img {
			margin-top: 30px;
			margin-bottom: 40px;
		}
		.conteudo-6 h2 {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.conteudo-6 #id-169 .carousel-slider__post {
			height: 260px!important;
		}
		.conteudo-6 .carousel-slider__post-title h1 {
			font-size: 12px;
		}
		.conteudo-8 {
			padding-top: 50px;
		}
		.conteudo-8 h2 {
			margin-left: 0;
			text-align: center!important;
			margin-bottom: 40px;
		}
		.conteudo-8 .row img {
			width: 30%;
			margin-left: 10px;
		}
		.conteudo-8 .row p {
			font-size: 13px;
		}
		.conteudo-8 h3 {
			margin-top: 30px;
		}
		
		/*Página Painéis*/
		
		
		.page-id-194 .breadcrumb .container {
			background-size: 60%;
		}
		.linhas h3 {
			margin-top: 10px;
		}
		.linhas .mobile {
			display: block;
			margin-bottom: 10px!important;
		}
		.linhas .desktop {
			display: none!important;
		}
		.outros-paineis .titulo h2 {
			text-align: center!important;
		}
		.outros-paineis {
			margin-top: 30px!important;
			padding-top: 30px;
		}
		.outros-paineis p {
			text-align: center;
			margin-top: 20px;
			font-size: 12px;
			margin-bottom: 20px!important;
		}
		.outros-paineis .mobile {
			display: block;
		}
		.outros-paineis .desktop {
			display: none!important;
		}
		.outros-paineis a {
			margin-bottom: -13px!important;
			width: 100%;
			text-align: center!important;
		}
		.outros-paineis .botoes {
			margin-top: 30px;
		}
		
	  
	  /*Footer*/
		.copyright img.icons {
			width: 15%;
		}
		.footer img {
			width: 100%;
		}
		#sb_instagram.sbi_col_4 #sbi_images .sbi_item{
			width: 24%;
		}
		#sb_instagram .sbi_photo img {
			height: initial!important;
		}
}


/* =============================== 768px ==================================== */

@media screen and (min-width: 768px) and (max-width: 1023px) { 
		.conteudo-1 p {
			font-size: 12px;
		}
		.conteudo-1 .coluna-3 {
			height: 260px;
		}
		.conteudo-1 .coluna-3 a {
			width: 100%;
			text-align: right;
			margin-bottom: 0px;
			font-size: 12px;
		}
		.conteudo-1 .coluna-3 .vc_btn3-container {
			margin-bottom: 6px!important;
		}
		.conteudo-3 p {
			color: #fff;
			background: #181818;
			width: 80%;
			padding: 40px 20px;
			font-size: 12px;
		}
		.conteudo-3 {
			min-height: 600px;
		}
		.conteudo-4 img {
			width: 100%!important;
			padding-left: 70px;
		}
		.conteudo-4 p{
			font-size: 12px;
		}
		.conteudo-4 h2 {
			margin-top: 60px;
		}
		.conteudo-5 p {
			text-align: right;
			font-size: 12px;
			line-height: 1.2;
		}
		.conteudo-5 {
			min-height: 420px;
		}
		.conteudo-6 #id-169 .carousel-slider__post {
			height: 280px!important;
		}
		.conteudo-8 .row p {
			font-size: 13px;
		}
		.conteudo-8 .row img {
			width: 60%;
			opacity: 0.7;
			margin-left: 20px;
		}
		
		/*Página Painéis*/
		
		.page-id-194 .breadcrumb .container {
			background-size: 40%;
		}
		
		.outros-paineis .titulo h2 {
			background-position: right bottom;
			margin-top: 0px;
			font-size: 17px;
		}
		.outros-paineis p {
			margin-top: 4px;
			font-size: 12px;
			line-height: 1.6;
		}
		.outros-paineis .desktop {
			margin-top: 30px;
		}
		.outros-paineis .botoes {
			margin-top: 0px;
		}
		.outros-paineis a {
			width: 100%;
			text-align: right!important;
			margin-bottom: -15px!important;
			font-size: 12px!important;
		}
		
		
	   /*Footer*/
		.footer img {
			width: 40%;
		}
}

/* =============================== 1024 ==================================== */

@media screen and (min-width: 1024px) and (max-width: 1200px) { 
	.conteudo-1 .coluna-3 {
		height: 400px;
	}
	.conteudo-1 .coluna-3 .vc_btn3-container {
		margin-bottom: 6px!important;
	}
	.conteudo-3 p {
		width: 70%;
	}
	.conteudo-4 h2 {
		margin-top: 110px;
	}
	/*Página Painéis*/
	.page-id-194 .breadcrumb .container {
		background-size: 30%;
	}
	.outros-paineis p {
		text-align: right;
		margin-top: 0px;
		font-size: 12px;
	}
	.outros-paineis {
		margin-top: 50px!important;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.outros-paineis .desktop {
		margin-top: 30px;
	}
	.outros-paineis .botoes {
		margin-top: 80px;
	}
	.outros-paineis a {
		margin-bottom: -16px!important;
	}


	
}

