/* =============================== 320px ==================================== */

@media screen and (min-width: 320px) and (max-width: 599px) { 
		.slider-home-mobile {
			display: block;
		}
		.slider-home-desktop{
			display: none;
		}
		.titulo h2{
			margin-top: 30px;
			margin-bottom: 20px!important;
			background: none;
			padding-bottom: 0px;
		}
		.titulo p{
			display:none;
		}
		.conteudo-1 h2 {
			margin-top: 0px;
			text-align: left!important;
		}
		.conteudo-1 p {
			text-align: left;
		}
		.conteudo-1 .coluna-1{
			width: 50%;
		}
		.conteudo-1 .coluna-1 p {
			text-align: left;
			font-size: 13px;
			line-height: 1.2;
			flex-wrap: wrap;
		}
		.conteudo-1 .coluna-2{
			width: 50%;
		}
		.conteudo-1 .coluna-3 {
			height: auto;
			width: 100%;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.conteudo-1 .coluna-3 a {
			width: 100%;
			text-align: center;
			margin-bottom: 0;
		}
		.conteudo-1 .coluna-3 .vc_btn3-container {
			margin-bottom: 6px!important;
		}
		.conteudo-3 p {
			width: 80%;
			padding: 40px 35px;
			margin-left: 40px;
			font-size: 14px;
			line-height: 1.5;
		}
		.conteudo-3 h2 {
			margin-top: 60px;
			margin-bottom: 130px;
			margin-left: 50px;
			font-size: 22px;
		}
		.conteudo-4 h2 {
			margin-top: 30px;
		}
		.conteudo-4 img{
			width: 100%;
			padding-left: 0px;
		}
		.conteudo-4 p{
			font-size: 13px;
			line-height: 1.6;
		}
		.conteudo-5 h2 {
			margin-top: 30px;
			text-align: center!important;
		}
		.conteudo-5 p {
			text-align: center;
			font-size: 13px;
			line-height: 1.6;
			margin-top: 20px;
		}
		.conteudo-5 img {
			margin-top: 30px;
			margin-bottom: 40px;
		}
		.conteudo-6 h2 {
			margin-top: 20px;
		}
		.conteudo-6 .carousel-slider__post-image {
			border-radius: 0px;
		}
		.conteudo-6 #id-169 .carousel-slider__post {
			height: 260px!important;
		}
		.conteudo-6 .carousel-slider__post-title h1 {
			font-size: 12px;
		}
		
		.conteudo-8 {
			padding-top: 50px;
		}
		.conteudo-8 h2 {
			margin-left: 0;
			text-align: center!important;
			margin-bottom: 40px;
		}
		.conteudo-8 .row img {
			width: 80%;
			margin-left: 10px;
		}
		.conteudo-8 .row p {
			font-size: 13px;
		}
		.conteudo-8 h3 {
			margin-top: 30px;
		}
		
		/*Página Painéis*/
		
		.linhas h3 {
			margin-top: 10px;
		}
		.linhas .mobile {
			display: block;
			margin-bottom: 10px!important;
		}
		.linhas .desktop {
			display: none!important;
		}
		.outros-paineis .titulo h2 {
			text-align: center!important;
		}
		.outros-paineis {
			margin-top: 30px!important;
			padding-top: 30px;
		}
		.outros-paineis p {
			text-align: center;
			margin-top: 20px;
			font-size: 12px;
			margin-bottom: 20px!important;
		}
		.outros-paineis .mobile {
			display: block;
		}
		.outros-paineis .desktop {
			display: none!important;
		}
		.outros-paineis a {
			margin-bottom: -13px!important;
			width: 100%;
			text-align: center!important;
		}
		.outros-paineis .botoes {
			margin-top: 30px;
		}
		/*Pagina Linhas*/
		
		.projects-grid{
			margin-top: 10px!important;
		}
		.img-projects-mobile {
			display: block;
			margin-top: 30px;
		}
		.img-projects-desktop {
			display: none;
		}
		.breadcrumb-projects h3 {
			font-size: 22px!important;
		}
		.projects-grid .vc_grid.vc_row .vc_grid-item{
			float: none!important;
		}
		.projects-grid h2 {
			font-size: 14px;
		}
		.projects-grid .vc_gitem-zone-a .vc_gitem-row-position-middle {
			margin-top: 0px;
		}
		.projects-grid .vc_btn3-container {
			margin-top: 0px!important;
			position: relative;
			z-index: 9999;
			top: 24px;
		}
		.outros-paineis .produtos-relacionados {
			padding: 0px 30px;
		}	
		


		/*Página Interna Produtos*/
		
		.conteudo-produto h3 {
			width: 100%;
		}
		.conteudo-produto p.especificacoes {
			width: 100%;
		}
		.grid-projects-2 .vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty) {
			padding-left: 20px!important;
			font-size: 12px;
		}	
		.grid-projects-2 .vc_gitem-zone-a .vc_gitem-row-position-middle {
			margin-top: 0px;
		}
		.grid-projects-2 .vc_btn3-container.vc_btn3-inline {
			position: relative;
			top: 25px;
		}
		.grid-projects-2 .vc_btn3.vc_btn3-size-md .vc_btn3-icon{
			font-size: 9px!important;
		}
		.grid-projects-2 i {
			width: 14px!important;
			height: 14px!important;
			padding-top: 0px!important;
			padding-left: 1px!important;
		}
		.outros-paineis-grid .titulo h2 {
			text-align: center!important;
		}
		.outros-paineis-grid p {
			text-align: center;
			margin-top: 20px;
			font-size: 12px;
			margin-bottom: 20px!important;
		}
		.conteudo-produto h2 {
			margin-bottom: 20px;
			margin-top: 20px;
		}
		.conteudo-produto {
			margin-top: 10px!important;
		}	
		
	  
	  /*Footer*/
		.copyright img.icons {
			width: 15%;
		}
		.footer img {
			width: 100%;
		}
		#sb_instagram.sbi_col_4 #sbi_images .sbi_item{
			width: 24%;
		}
		#sb_instagram .sbi_photo img {
			height: initial!important;
		}
		#sb_instagram .sbi_photo{
			height: 60px!important;
		}
}


/* =============================== 600px ==================================== */

@media screen and (min-width: 600px) and (max-width: 767px) { 
		.slider-home-mobile {
			display: block;
		}
		.slider-home-desktop{
			display: none;
		}
		.titulo h2{
			margin-top: 30px;
			margin-bottom: 20px!important;
			background: none;
			padding-bottom: 0px;
		}
		.titulo p{
			display:none;
		}
		.conteudo-1 h2 {
			margin-top: 4px;
			text-align: left!important;
		}
		.conteudo-1 p {
			text-align: left;
		}
		.conteudo-1 .coluna-1{
			width: 50%;
		}
		.conteudo-1 .coluna-1 p {
			text-align: left;
			font-size: 14px;
			flex-wrap: wrap;
			line-height: 2;
		}
		.conteudo-1 .coluna-2{
			width: 50%;
		}
		.conteudo-1 .coluna-3 {
			height: auto;
			width: 100%;
			margin-top: 30px;
			margin-bottom: 30px;
		}
		.conteudo-1 .coluna-3 a {
			width: 100%;
			text-align: center;
			margin-bottom: 0;
		}
		.conteudo-1 .coluna-3 .vc_btn3-container {
			margin-bottom: 6px!important;
		}
		.conteudo-3 p {
			width: 60%;
			padding: 40px 35px;
			margin-left: 40px;
			font-size: 14px;
			line-height: 1.5;
		}
		.conteudo-3 h2 {
			margin-top: 60px;
			margin-bottom: 130px;
			margin-left: 50px;
			font-size: 22px;
			font-weight: 900!important;
		}
		.conteudo-4 h2 {
			margin-top: 30px;
			text-align:center!important;
		}
		.conteudo-4 img{
			width: 100%;
			padding-left: 0px;
		}
		.conteudo-4 p{
			font-size: 13px;
			line-height: 1.6;
			text-align: center;
			margin-top: 10px;
		}
		.conteudo-5 h2 {
			margin-top: 30px;
			text-align: center!important;
		}
		.conteudo-5 p {
			text-align: center;
			font-size: 13px;
			line-height: 1.6;
			margin-top: 20px;
		}
		.conteudo-5 img {
			margin-top: 30px;
			margin-bottom: 40px;
		}
		.conteudo-6 h2 {
			margin-top: 20px;
			margin-bottom: 20px;
		}
		.conteudo-6 #id-169 .carousel-slider__post {
			height: 260px!important;
		}
		.conteudo-6 .carousel-slider__post-title h1 {
			font-size: 12px;
		}
		.conteudo-8 {
			padding-top: 50px;
		}
		.conteudo-8 h2 {
			margin-left: 0;
			text-align: center!important;
			margin-bottom: 40px;
		}
		.conteudo-8 .row img {
			width: 30%;
			margin-left: 10px;
		}
		.conteudo-8 .row p {
			font-size: 13px;
		}
		.conteudo-8 h3 {
			margin-top: 30px;
		}
		
		/*Página Painéis*/
		
		.linhas h3 {
			margin-top: 10px;
		}
		.linhas .mobile {
			display: block;
			margin-bottom: 10px!important;
		}
		.linhas .desktop {
			display: none!important;
		}
		.outros-paineis .titulo h2 {
			text-align: center!important;
		}
		.outros-paineis {
			margin-top: 30px!important;
			padding-top: 30px;
		}
		.outros-paineis p {
			text-align: center;
			margin-top: 20px;
			font-size: 12px;
			margin-bottom: 20px!important;
		}
		.outros-paineis .mobile {
			display: block;
		}
		.outros-paineis .desktop {
			display: none!important;
		}
		.outros-paineis a {
			margin-bottom: -13px!important;
			width: 100%;
			text-align: center!important;
		}
		.outros-paineis .botoes {
			margin-top: 30px;
		}
		
		/*Pagina Linhas*/
		
		.img-projects-mobile {
			display: block;
			margin-top: 30px;
		}
		.img-projects-desktop {
			display: none;
		}
		.breadcrumb-projects h3 {
			font-size: 22px!important;
		}
		
		.projects-grid .vc_grid.vc_row .vc_grid-item{
			float: none!important;
		}
		.projects-grid h2 {
			font-size: 14px;
		}
		.projects-grid .vc_gitem-zone-a .vc_gitem-row-position-middle {
			margin-top: -34px;
		}
		.projects-grid .vc_btn3-container {
			margin-top: 0px!important;
			position: relative;
			z-index: 9999;
			top: -10px;
		}
		.outros-paineis .produtos-relacionados {
			padding: 0px 50px;
		}		
		/*Página Interna dos produtos*/
		
		.conteudo-produto h3 {
			width: 100%;
		}
		.conteudo-produto p.especificacoes {
			width: 100%;
		}
		.grid-projects-2 .vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty) {
			padding-left: 20px!important;
			font-size: 12px;
		}	
		.grid-projects-2 .vc_gitem-zone-a .vc_gitem-row-position-middle {
			margin-top: 0px;
		}
		.grid-projects-2 .vc_btn3-container.vc_btn3-inline {
			position: relative;
			top: 25px;
		}
		.grid-projects-2 .vc_btn3.vc_btn3-size-md .vc_btn3-icon{
			font-size: 9px!important;
		}
		.grid-projects-2 i {
			width: 14px!important;
			height: 14px!important;
			padding-top: 0px!important;
			padding-left: 1px!important;
		}
		.outros-paineis-grid .titulo h2 {
			text-align: center!important;
		}
		.outros-paineis-grid p {
			text-align: center;
			margin-top: 20px;
			font-size: 12px;
			margin-bottom: 20px!important;
		}
		.conteudo-produto h2 {
			margin-bottom: 20px;
			margin-top: 20px;
		}
		.conteudo-produto {
			margin-top: 10px!important;
		}	
	  
	  /*Footer*/
		.copyright img.icons {
			width: 15%;
		}
		.footer img {
			width: 100%;
		}
		#sb_instagram.sbi_col_4 #sbi_images .sbi_item{
			width: 24%;
		}
		#sb_instagram .sbi_photo img {
			height: initial!important;
		}
		#sb_instagram .sbi_photo{
			height: 80px!important;
		}
}


/* =============================== 768px ==================================== */

@media screen and (min-width: 768px) and (max-width: 1023px) { 
		.conteudo-1 p {
			font-size: 12px;
		}
		.conteudo-1 .coluna-3 {
			height: 260px;
		}
		.conteudo-1 .coluna-3 a {
			width: 100%;
			text-align: right;
			margin-bottom: 0px;
			font-size: 12px;
		}
		.conteudo-1 .coluna-3 .vc_btn3-container {
			margin-bottom: 6px!important;
		}
		.conteudo-3 p {
			color: #fff;
			background: #181818;
			width: 80%;
			padding: 40px 20px;
			font-size: 12px;
		}
		.conteudo-3 {
			min-height: 600px;
		}
		.conteudo-4 img {
			width: 100%!important;
			padding-left: 70px;
		}
		.conteudo-4 p{
			font-size: 12px;
		}
		.conteudo-4 h2 {
			margin-top: 60px;
		}
		.conteudo-5 p {
			text-align: right;
			font-size: 12px;
			line-height: 1.2;
		}
		.conteudo-5 {
			min-height: 420px;
		}
		.conteudo-6 #id-169 .carousel-slider__post {
			height: 280px!important;
		}
		.conteudo-8 .row p {
			font-size: 13px;
		}
		.conteudo-8 .row img {
			width: 60%;
			opacity: 0.7;
			margin-left: 20px;
		}
		
		/*Página Painéis*/
		
		
		.outros-paineis .titulo h2 {
			background-position: right bottom;
			margin-top: 0px;
			font-size: 17px;
		}
		.outros-paineis p {
			margin-top: 4px;
			font-size: 12px;
			line-height: 1.6;
		}
		.outros-paineis .desktop {
			margin-top: 30px;
		}
		.outros-paineis .botoes {
			margin-top: 0px;
		}
		.outros-paineis a {
			width: 100%;
			text-align: right!important;
			margin-bottom: -15px!important;
			font-size: 12px!important;
		}
		
		/*Página Linhas*/
		.projects-grid h2 {
			font-size: 12px;
		}
		.projects-grid .vc_gitem-zone-a .vc_gitem-row-position-middle{
			margin-top: 0px;
		}
		.projects-grid p{
			font-size: 10px;
			line-height: 1.1;
		}
		.projects-grid .vc_btn3-container {
			margin-top: -40px!important;
			position: absolute;
			top: 20px;
			z-index: 9999;
		}
		.projects-grid i {
			width: 20px!important;
			height: 20px!important;
			padding-top: 2px!important;
			padding-left: 4px!important;
			font-size: 10px!important;
		}
		.projects-grid .vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty) {
			padding-left: 30px;
		}		
		.outros-paineis .produtos-relacionados {
			padding: 0px 50px;
		}

		/*Página Interna Produtos*/
		
		.conteudo-produto h3 {
			width: 100%;
			padding: 15px 40px;
		}
		.conteudo-produto p.especificacoes {
			width: 100%;
		}
		.conteudo-produto #ssba-classic-2 div{
			margin-left: 20px;
			width: 100%;
		}
		.grid-projects-2 h2 {
			font-size: 12px;
		}
		.grid-projects-2 .vc_gitem-zone-a .vc_gitem-row-position-middle {
			margin-top: 0px;
		}
		.grid-projects-2 .vc_btn3-container.vc_btn3-inline {
			position: relative;
			top: 25px;
		}
		.grid-projects-2 .vc_btn3.vc_btn3-size-md .vc_btn3-icon{
			font-size: 9px!important;
		}
		.grid-projects-2 p{
			font-size: 10px!important;
			line-height: 1.1!important;
		}
		.grid-projects-2 .vc_btn3-container {
			margin-top: -40px!important;
			position: absolute!important;
			top: 20px!important;
			z-index: 9999!important;
		}
		.grid-projects-2 i {
			width: 14px!important;
			height: 14px!important;
			padding-top: 0px!important;
			padding-left: 1px!important;
		}
		.grid-projects-2 .vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty) {
			padding-left: 20px!important;
			font-size: 10px!important;
		}	
		.outros-paineis-grid .titulo h2 {
			background-position: right bottom;
			margin-top: 0px;
			font-size: 17px;
		}
		.outros-paineis-grid p {
			margin-top: 4px;
			font-size: 12px;
			line-height: 1.6;
		}
		
				
		
	   /*Footer*/
		.footer img {
			width: 40%;
		}
}

/* =============================== 1024 ==================================== */

@media screen and (min-width: 1024px) and (max-width: 1200px) { 
	.conteudo-1 .coluna-3 {
		height: 400px;
	}
	.conteudo-1 .coluna-3 .vc_btn3-container {
		margin-bottom: 6px!important;
	}
	.conteudo-3 p {
		width: 70%;
	}
	.conteudo-4 h2 {
		margin-top: 110px;
	}
	/*Página Painéis*/

	.outros-paineis p {
		text-align: right;
		margin-top: 0px;
		font-size: 12px;
	}
	.outros-paineis {
		margin-top: 50px!important;
		padding-top: 50px;
		padding-bottom: 50px;
	}
	.outros-paineis .desktop {
		margin-top: 30px;
	}
	.outros-paineis .botoes {
		margin-top: 80px;
	}
	.outros-paineis a {
		margin-bottom: -16px!important;
	}
	/*Página Linhas*/
	.projects-grid .vc_gitem-zone-a .vc_gitem-row-position-middle {
		margin-top: -4px;
	}
	.projects-grid p {
		line-height: 1.1;
		font-size: 12px;
	}
	.projects-grid .vc_btn3-container {
		margin-top: -50px!important;
		position: absolute;
	}
	/*Página Interna Produtos*/
	.outros-paineis-grid p {
		text-align: right;
		margin-top: 30px;
		font-size: 12px;
	}
	.grid-projects-2 .vc_btn3-container.vc_btn3-inline {
			position: relative;
			top: 25px;
	}
	.grid-projects-2 .vc_btn3.vc_btn3-size-md.vc_btn3-icon-left:not(.vc_btn3-o-empty) {
		padding-left: 30px;
	}
	
	
}

